# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore build output
/build

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code configuration files
.vscode/

# Ignore npm debug log
npm-debug.log

# Ignore Yarn integrity file
.yarn-integrity

# Ignore Jest test results
coverage/

# Ignore Jest snapshot directory
__tests__/__snapshots__
